

<p *ngIf="!movies"><em>Loading... nb</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Release</th>
      <th>Director</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.name }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.releasedate }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.description }}</td>
      <td><button mat-button color="primary">Edit</button></td>
      <td><button mat-button color="warn" (click)="deleteMovie(movie.name)">Delete</button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="addMovie()" [routerLink]="['/movies/add']">AddMovie</button>
